/* =======TAGS======= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color:#434455;
    background-color:#FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

address {
    font-style: normal;
}

h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

img {
	display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.container { 
max-width: 1158px;
width: 100%;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* ============== */


/* =======HEADER======= */

.webstudio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}

.webstudio:hover, 
.webstudio:focus {
    color: #404bbf;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-menu {
    font-weight: 500;
    line-height: 1.5;
    color: #2E2F42;
    display:block;
    padding: 24px 0;
}

.header-menu:hover, 
.header-menu:focus {
    color: #404BBF;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contacts {
    line-height: 1.5;
    color: #434455;
}

.header-contacts:hover, 
.header-contacts:focus {
    color: #404BBF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

/* ============== */


/* =======HERO======= */

.hero-section {
    background-color: #2E2F42;
    padding: 188px 0;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    font-family: inherit;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-button:hover, 
.hero-button:focus {
    background-color: #404BBF;
}

/* ============== */


/* =======ADVANTAGES======= */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-title {
    line-height: 1.5;
    margin-bottom: 8px;
}

.advantages-text {
    line-height: 1.5;
}

.advantages {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 3*24px) / 4);
}

/* ============== */


/* =======OUR TEAM======= */

.our-team {
    background-color: #F4F4FD;
}

.team-title {
    margin-bottom: 72px;
}

.team-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.team-position {
    text-align: center;
    line-height: 1.5;
}

.team-frame {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    width: calc((100% - 3*24px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-items {
    padding: 32px 0;
}

/* ============== */


/* =======PORTFOLIO======= */

.portfolio {
    margin-bottom: 72px;
}

.product-title {
    margin-bottom: 8px;
}

.product {
    line-height: 1.5;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3); 
}

.portfolio-item {
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    padding: 32px 16px;
}

/* ============== */


/* =======FOOTER======= */

.webstudio-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    max-width: 264px;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

/* ============== */